################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/variable_tipos/.vs/variable_tipos/v16/Server/sqlite3/db.lock
/variables_tipos/.vs/variables_tipos/v16/Server/sqlite3/db.lock
/variables/.vs/variables/v16/Server/sqlite3/db.lock
