################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/variable_tipos/.vs/variable_tipos/v16/Server/sqlite3/db.lock
/variables_tipos/.vs/variables_tipos/v16/Server/sqlite3/db.lock
/variables/.vs/variables/v16/Server/sqlite3/db.lock
/concatenacion/.vs/concatenacion/v16/Server/sqlite3/db.lock
/aritmética/.vs/aritmética/v16/Server/sqlite3/db.lock
/1.5ecuacion/.vs/1.5ecuacion/v16/Server/sqlite3/db.lock
/1.6numeros/.vs/1.6numeros/v16/Server/sqlite3/db.lock
/1.7semanas/.vs/1.7semanas/v16/Server/sqlite3/db.lock
/1.8tabladeverdad/.vs/1.8tabladeverdad/v16/Server/sqlite3/db.lock
